
*.xml
target/classes/.netbeans_automatic_build
*.class
*.jar
*.lst
target/test-classes/.netbeans_automatic_build
*.war
*.properties
target/TruthCheckJava-1.0/WEB-INF/classes/.netbeans_automatic_build
*.dpf
