

menu.base{
  width: 300px;
  position: absolute;
  top: 94%;
  right: 50%;
  border-bottom: 2px rgb(var(--color-dim)) solid;
  border-left: 2px rgb(var(--color-dim)) solid;
  border-right: 2px rgb(var(--color-dim)) solid;
  transform-origin: top right;
  transition: 200ms transform ease;
  outline: transparent;
  z-index: 1;
}
menu.base p{
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}
menu.base input{
  width: 80%;
}

menu.base.hidden{
  transform: scale(0);
}
