<div class="base expositor _e_type" id="_e_type_e_id">
  <h3>Nombre</h3>
  <input type="text" readonly value="_e_name">
  <h3>Descripción</h3>
  <textarea readonly>_e_description</textarea>
  <h3>Tipo</h3>
  <input type="text" readonly value="_e_type">
  <button class="delete-button _e_name">-</button>
  <button class="edit-button _e_name">-</button>
  <script>
    (()=>{
      const container = $('#_e_type_e_id')
      const deleteButton = $('.delete-button', container)
      const editButton = $('.edit-button', container)
      deleteButton.addEventListener('click', ()=>{
        // send remove petition to the server
        container.remove()
      })
      editButton.addEventListener('click', ()=>{
        // send remove petition to the server
        // modal with fields autocompleted
      })

    })()
  </script>
</div>