<div class="base expositor _e_type" id="_e_type_e_id">
  <h3>Nombre</h3>
  <input type="text" readonly value="_e_name">
  <h3>Descripción</h3>
  <input type="text" readonly value="_e_description">
  <h3>Autor</h3>
  <input type="text" readonly value="_e_author">
  <button class="remove-button _e_name">-</button>
  <script>
    (()=>{
      const container = $('#_e_type_e_id')
      const button = $('.remove-button', container)

      button.addEventListener('click', ()=>{
        
        console.log('sanitycheck')
        console.log('cONTINUA CON EsTO')
      })

    })()
  </script>
</div>