.base{
  display: flex;
  flex-direction: column;

  position: relative;
  
  margin: 0;
  padding: 20px;
  
  width: 400px;
  height: max-content;
  
  border-radius: 5px;
  background-color: rgb(var(--color-dark));
}
/* Text */
.base label, .base p{
  margin: 0 0 20px 0;
  overflow: hidden;
  font-size: 1.8em;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: rgb(var(--color-lit)) underline 2px;
  color: rgb(var(--color-light));
}
h3{
  color: white;
}
/* Input */
.base select, .base input, .base textarea{
  width: 300px;
  height: 30px;
  margin: 10px auto;
  padding: 0 20px;
  
  background-color: rgba(var(--color-light));
  border:none;
  border-radius: 5px;
  
  font-size: inherit;
}
.base input, .base textarea{
  border-radius: 5px 5px 20px 5px;
  user-select: text;
}

.base list-input{
  border: 2px rgb(var(--color-dim)) solid;
  border-radius: 5px;
}
.base .searchbar input{
  border-radius: 5px 0 0 5px;
  margin-right: 0;
  border-bottom: 2px rgba(var(--color-lit)) solid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 100ms transform ease, 100ms border ease;
}

.base textarea{
  height: 200px;
  padding: 10px;
  resize: vertical;
}


/* Decoration */
.base label[for='togglePasswordVisibility']{
  display: block;
  position: absolute;
  right: 5px;
  top: 11px;

  width: 30px;
  height: 30px;
  background-image: url(/TruthCheckJava/images/icons/showPassword.svg);
  background-repeat:  no-repeat;
  cursor: pointer;
}
.base input:checked+[for='togglePasswordVisibility']{
  background-image: url(/TruthCheckJava/images/icons/hidePassword.svg);
}
.base hr{
  border: 1px rgb(var(--color-lit)) solid;
  margin: 15px 20px 30px 20px;
}

/* Organization */
.base span, .base div{
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.base div{
  padding: 5px;
}
.base .searchbar{
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;
  margin: 0;
}

/* Submits */
.base button, .base a, .base input[type='submit']{
  height: 40px;
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  background-color: rgb(var(--color-dim));
  border-bottom: 2px rgba(var(--color-lit)) solid;
  transition: 100ms transform ease, 100ms border ease;
  align-self: center;
}
.base button, .base a{
  display: block;
  padding: 0 20px;
  font-size: 1em;
}
.base a{
  margin: 5px auto;
  text-decoration: none;
  text-align: center;
  padding-top: 3%;
}
.base .searchbar input[type='submit']{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 30px;
  height: 30px;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  background-image: url(/TruthCheckJava/images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 3px 3px;
  padding: 0;
}

/* Animation */
.base button:hover,
.base a:hover, 
.base input[type='submit']:hover,
.base .searchbar input[type='submit']:hover + input {
  border-bottom: 3px rgba(var(--color-lit)) solid;
  transform: translateY(-1px);
}
.base button:active,
.base a:active,
.base input[type='submit']:active,
.base .searchbar input[type='submit']:active + input {
  border-bottom: 0px rgba(var(--color-lit)) solid;
  transform: translateY(1px);
}

/* Errors */
.base .error{
  display: none;
  color: red;
  font-size: .8em;
  text-decoration: none;
  text-align: left;
  margin: 0;
  margin-left: 60px;
  
}
.base .error::before{
  content: '*';
}


*:focus{
  outline: 2px solid rgb(var(--color-accent));
}
