.modal{
  display: flex;
  flex-direction: column;

  position: relative;
  
  margin: 0;
  padding: 20px;
  
  width: 400px;
  height: max-content;
  
  border-radius: 5px;
  background-color: rgb(var(--color-dark));
}
/* Text */
.modal label, .modal p{
  margin: 0 0 20px 0;
  overflow: hidden;
  font-size: 1.8em;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: rgb(var(--color-lit)) underline 2px;
  color: rgb(var(--color-light));
}
/* Input */
.modal select, .modal input{
  width: 300px;
  height: 30px;
  margin: 10px auto;
  padding: 0 20px;
  
  background-color: rgba(var(--color-light));
  border:none;
  border-radius: 5px;
  
  font-size: inherit;
}
.modal input{
  border-radius: 5px 5px 20px 5px;
  user-select: text;
}

.modal list-input{
  border: 2px rgb(var(--color-dim)) solid;
  border-radius: 5px;
}

.modal .searchbar{
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 0;
  margin: 0;
}
.modal .searchbar input{
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}
.modal .searchbar input[type='submit']{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  background-image: url(/TruthCheckJava/images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 3px 3px;
  padding: 0;
}

/* Decoration */
.modal label[for='togglePasswordVisibility']{
  display: block;
  position: absolute;
  right: 5px;
  top: 11px;

  width: 30px;
  height: 30px;
  background-image: url(/TruthCheckJava/images/icons/showPassword.svg);
  background-repeat:  no-repeat;
  cursor: pointer;
}
.modal input:checked+[for='togglePasswordVisibility']{
  background-image: url(/TruthCheckJava/images/icons/hidePassword.svg);
}
.modal hr{
  border: 1px rgb(var(--color-lit)) solid;
  margin: 15px 20px 30px 20px;
}

/* Organization */
.modal span, .modal div{
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.modal div{
  padding: 5px;
}

/* Submits */
.modal button, .modal a, .modal input[type='submit']{
  height: 40px;
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  background-color: rgb(var(--color-dim));
  border-bottom: 2px rgba(var(--color-lit)) solid;
  transition: 100ms transform ease, 100ms border ease;
  align-self: center;
}
.modal button, .modal a{
  display: block;
  padding: 0 20px;
  font-size: 1em;
}
.modal a{
  margin: 5px auto;
  text-decoration: none;
  text-align: center;
  padding-top: 3%;
}

/* Animation */
.modal button:hover, .modal a:hover, .modal input[type='submit']:hover{
  border-bottom: 3px rgba(var(--color-lit)) solid;
  transform: translateY(-1px);
}
.modal button:active,.modal a:active, .modal input[type='submit']:active{
  border-bottom: 0px rgba(var(--color-lit)) solid;
  transform: translateY(1px);
}

/* Errors */
.modal .error{
  display: none;
  color: red;
  font-size: .8em;
  text-decoration: none;
  text-align: left;
  margin: 0;
  margin-left: 60px;
  
}
.modal .error::before{
  content: '*';
}


*:focus{
  outline: 2px solid rgb(var(--color-accent));
}
