

body{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 100px 1fr;

  background-color: rgb(var(--color-dark));
  height: 100vh;
  overflow: hidden;
}

header{
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  background-color: rgb(var(--color-dim));

  display: flex;
  justify-content: space-between;
}
header #logo{
  width: 80px;
  height: 80px;
  background-color: aquamarine;
  margin: 10px;
}
header #searchBar{
  margin: auto 0;
}
header #searchBar form{
  display: flex;
  flex-direction: row;
}
header #searchBar input{
  display: block;
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 0 20px;
  border: none;
  background-color: rgb(var(--color-dark));
  color: white;
  font-size: 1em;
  
  border-radius: 5px 0 0 5px;
}
header #searchBar input:focus{
  outline: 2px rgb(var(--color-lit)) solid;
}
header #searchBar input[type='submit']{
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0 5px 5px 0;
  background-color: rgb(var(--color-lit));

  background-image: url(/TruthCheckJava/images/search.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 2px 3px;
}
header #userIcon{
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;

}
main{
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 20px;
  margin-top: 20px;

  background-color: rgb(var(--color-dark));
  border-radius: 0 5px 0 0 ;
  overflow-y: auto;
}
main div{
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: bisque;
}

footer{
  display: block;
  width: 100%;
  height: 60px;
  background-color: aqua;
}
aside{
  width: 400px;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 100px 0;

  background-color: rgb(var(--color-dim));
}
aside form{
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 100%;

  margin: 0 auto;
}
aside form input{
  display: none;
}
aside form button{
  background-color: rgb(var(--color-lit));
  margin: 5px;
  display: block;
  height: 30px;
  font-size: 1em;
  background-color: none;
  border: none;
}
aside form button:hover{
  filter: brightness(1.3); 
}
aside form button:active{
  filter:brightness(.8);
}


