body{
  background-color: var(--color-main);
  background-image: url(../../images/background.bmp);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top right;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;

  height: 100vh;
  overflow: hidden;
  margin: 0;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header form{
  align-self: center;
}
header button, header a{
  width: 300px;
  height: 50px;
  margin: 10px auto;
}

main div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
main h1{
  font-size: 8rem;
  margin: 0;
  font-family:'Milonga';
}
main h1::after{
  content: '~';
}
main h1::before{
  content: '~';
}
main h2{
  font-size: 3em;
}

button{
  position: relative;
}

#play::after{
  background-image: url(../../images/icons/play.svg);
}
#create::after{
  background-image: url(../../images/icons/create.svg);
}
#explore::after{
  background-image: url(../../images/icons/explore.svg);
}


#play::after, #create::after, #explore::after{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
}



@media (max-width: 1500px){
  body{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  header{
    grid-row: 2 / 3;
    align-items: center;
  }
}
@media (max-width: 900px){
  main h1{
    font-size: 5em;
  }
  main h2{
    font-size: 2em;
  }
}